<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308123983338-i3v7tkcq2v2kt3ia1kgqdb4ubmcdbalj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308123983338-i3v7tkcq2v2kt3ia1kgqdb4ubmcdbalj</string>
	<key>API_KEY</key>
	<string>AIzaSyBTg44a13-_NR6bZDVjeAZR0Nwe2NkrIKM</string>
	<key>GCM_SENDER_ID</key>
	<string>308123983338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somtee.fruitspear</string>
	<key>PROJECT_ID</key>
	<string>fruit-spear</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-spear.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308123983338:ios:684ccff881177290c06693</string>
	<key>DATABASE_URL</key>
	<string>https://fruit-spear.firebaseio.com</string>
</dict>
</plist>